.find-nav {
  width: 100%;
}

.find-nav .find-nav-box {
  width: 100%;
  box-shadow: 0 -2px 10px #ccc;
  position: fixed;
  left: 0;
  top: 45px;
  background-color: #fff;
}

.find-nav .find-nav-box .tabItem {
  width: 20%;
  height: 100%;
  text-align: center;
  color: #333;
}

.find-nav .find-nav-box .tabItem img {
  width: 90%;
}
